<% if(jutsu) { %>

<span class="jutsu-name"><%= jutsu.name %></span>
<span class="jutsu-element">
  <% if(jutsu.element) { %>
    <span class="badge-<%= jutsu.element %>"><%= jutsu.element %></span>
  <% } %>
  <span class="badge-<%= jutsu.type %>"><%= jutsu.type %></span>
</span>
<span class="jutsu-damage"><%= jutsu.damage %> damage</span>

<p class="jutsu-description">
  <%= jutsu.description %>
</p>

<ul class="jutsu-buttons">
  <li><a href="javascript://" class="attack">Use Jutsu</a></li>
  <li><a href="javascript://" class="cancel">Cancel</a></li>
</ul>

<% } else { %>

  <div class="user-avatar">
      <img id="local-avatar" src="/assets/img/female-example.jpg" alt="">
  </div>
  <div class="seal">
      <img src="/assets/img/seal.png" alt="">
  </div>

<% } %>
