extends ../base.jade

block content
  .loader
  .duel(data-id="#{duel.id}", data-p1="#{duel.player1}",
  data-p2="#{duel.player2}")
    .top-ui
      .player-ui.pure-g
        #enemy-hp.pure-u-1-3.hp
        .pure-u-1-3.profile.enemy-avatar
            .user-avatar
              img#remote-avatar(src="/assets/img/female-example.jpg")
            .seal
              img(src="/assets/img/seal.png")
        .pure-u-1-3

      .bottom-ui
        .player-ui.pure-g
          #player-1-hp.pure-u-1-3.hp
          #info-panel.pure-u-1-3.info-panel.profile
            .user-avatar
              img#local-avatar(src="/assets/img/female-example.jpg")
            .seal
              img(src="/assets/img/seal.png")
          .pure-u-1-3
            ul.jutsu-menu#jutsu-menu

  .log
    ul
      li Loading...

  script(src="/assets/vendor/requirejs/require.js"
  data-main="/assets/js/game/main.js")
